<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <br><br>
    <div class="container">
        <div id="result" class="row"></div>
            <form name="formulario" id="form" method="POST" action="{% if db %}/update/{{db.id}}/{%else%}/create/{% endif %}" class="col s12">
                {% csrf_token %}
                <div class="form input-field col s6">

                    <label>Nome:</label>
                    {{form.nome}}

                </div>
                <div class="form input-field col s6">

                    <label>Ultimo Nome:</label>
                    {{form.ultimo_nome}}

                </div>
                <div class="form input-field col s6">

                    <label>Data Nascimento:</label>
                    {{form.data_nascimento}}

                </div>
                <div class="form input-field col s6">

                    <label>Profissão :</label>
                    {{form.profissao}}

                </div>

                <input type="submit" value="salvar" class="btn_enviar">

            </form>
    <a href="/" class="btn">Voltar</a>
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</div>
</body>
</html>
