{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Visualização</title>
</head>
<body>
 <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Data_nascimento</th>
        <th>Profissão</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
    {%for dbs in db %}
      <tr>
        <td>{{dbs.id}}</td>
        <td>{{dbs.nome}}</td>
        <td>{{dbs.ultimo_nome}}</td>
        <td>{{dbs.data_nascimento}}</td>
        <td>{{dbs.profissao}}</td>
        <td>
            <a href="view/{{dbs.id}}/" class="btn_visualizar">Detalhar</a>
            <a href="edit/{{dbs.id}}/" class="btn_editar">Editar</a>
            <a href="delete/{{dbs.id}}" class="btn_deletar">Deletar</a>
        </td>
      </tr>
     {% endfor %}
    </tbody><br>
</table>
<a href="form/" class="btn">Adicionar</a>

{% load static %}
<script src="{% static 'javascript.js' %}"></script>
</body>
</html>

{% endblock %}